
<div class="col-span-1 md:col-span-full flex flex-col gap-15px">
  <h4 class="text-sm md:text-base lg:text-lg font-itner font-bold">CONTACT ELIOPLUS</h4>
  <div class="flex flex-col gap-15px md:gap-20px"><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 text-textGray" href="../templates/contactUs.html">Contact us</a>
    <div class="flex flex-col gap-15px md:flex-row mdl:flex-col md:gap-30px mdl-gap-20px">
      <div class="flex flex-col gap-5px">
        <div class="text-sm mdl:text-base font-bold">Email:</div><a class="hover:text-blackBlue text-sm md:text-base transition-colors duration-200 font-semibold text-blue" href="mailto:info@elioplus.com">info@elioplus.com</a>
      </div>
      <div class="flex flex-col gap-5px max-w-300px">
        <div class="text-sm mdl:text-base font-bold">US office:</div>
        <div class="text-sm mdl:text-base text-textGray"><strong>Address:</strong> 3511 Silverside Road, Suite 105, Wilmington, DE 19810</div>
      </div>
      <div class="flex flex-col gap-5px max-w-300px">
        <div class="text-sm mdl:text-base font-bold">Europe office:</div>
        <div class="text-sm mdl:text-base text-textGray"><strong>Address:</strong> 33 Saronikou St , 163 45, Ilioupoli, Athens, Greece</div>
      </div>
    </div>
  </div>
</div>