
<header class="bg-blue text-white shadow-lg z-10 sticky top-[63px] lg:top-[72px] xl:top-[92px] left-0 w-screen py-0 lg:py-15px">
  <div class="container">
    <div class="flex justify-between">
      <div class="py-5px px-5px pr-[15px] hidden lg:flex items-center gap-5px bg-blueDark rounded-30px"><img src="../assets/images/global/product-circles.svg" alt="Referral Program software product" width="30" height="30"/>
        <div class="text-sm font-inter">Product:&nbsp;<strong></strong></div>
      </div>
      <nav class="flex gap-10px xl:gap-15px relative items-center w-full lg:w-fit" id="productNavigation">
        <div class="w-full lg:w-fit overflow-x-auto">
          <ul class="text-sm flex gap-15px flex-wrap w-max py-15px lg:py-0">
          </ul>
        </div><a class="btn hidden lg:flex font-bold text-sm bg-yellow text-white w-fit"><span></span></a>
      </nav>
    </div>
  </div>
</header>