nav(id='BrowseCompaniesMenu').py-30px.px-40px.bg-white.absolute.megamenu.shadow-lg.rounded-xl
    .flex.flex-col
        .flex.flex-row.gap-25px
            .flex.flex-col.gap-40px.megamenu-col
                a(href='../templates/search.html').flex.flex-col.gap-10px.megamenu-menu-item
                    h4.font-inter.font-bold.text-sm Search Companies
                    p.text-textGray.text-sm Browse thousands of software vendors and more than 120.000 channel partners.
                    .btn.font-bold.text-blue.text-sm
                        span Search Now
                        include ../../../assets/images/global/next.svg
                a(href='../templates/searchChannelPartners.html').flex.flex-col.gap-10px.megamenu-menu-item
                    h4.font-inter.font-bold.text-sm Channel Partners
                    p.text-textGray.text-sm Find and browse the best software resellers and SaaS channel partners on Elioplus.
                    .btn.font-bold.text-blue.text-sm
                        span Search Channel Partners
                        include ../../../assets/images/global/next.svg
            .separator.h-unset
            .flex.flex-col.gap-40px.megamenu-col
                a(href='../templates/searchVendors.html').flex.flex-col.gap-10px.megamenu-menu-item
                    h4.font-inter.font-bold.text-sm Vendors
                    p.text-textGray.text-sm Browse IT vendors via the best SaaS partner programs available on our platform.
                    .btn.font-bold.text-blue.text-sm
                        span Search Vendors
                        include ../../../assets/images/global/next.svg
                a(href='../templates/searchPartnerhsips.html').flex.flex-col.gap-10px.megamenu-menu-item
                    h4.font-inter.font-bold.text-sm Partnerships
                    p.text-textGray.text-sm Browse our platform's IT providers listed by their specific partnerships and expertise.
                    .btn.font-bold.text-blue.text-sm
                        span Browse Partnerships
                        include ../../../assets/images/global/next.svg
