nav(id='ProductsServicesMenu' class='right-0 xl:left-0').py-30px.px-40px.bg-white.absolute.megamenu.shadow-lg.rounded-xl
    .flex.flex-col
        .flex.flex-row.gap-25px
            .flex.flex-col.gap-40px.megamenu-col
                a(href='../templates/productPRautomate.html').flex.flex-col.gap-10px.megamenu-menu-item
                    h4.font-inter.font-bold.text-sm Partner Recruitment - Automate
                    p.text-textGray.text-sm Get connected and reach out to channel partners to your target markets or worldwide.
                    .btn.font-bold.text-blue.text-sm
                        span View Product
                        include ../../../assets/images/global/next.svg
                a(href='../templates/productPRdatabase.html').flex.flex-col.gap-10px.megamenu-menu-item
                    h4.font-inter.font-bold.text-sm Partner Recruitment - Database
                    p.text-textGray.text-sm Get connected and reach out to channel partners to your target markets or worldwide.
                    .btn.font-bold.text-blue.text-sm
                        span View Product
                        include ../../../assets/images/global/next.svg
            .separator.h-unset
            .flex.flex-col.gap-40px.megamenu-col
                a(href='../templates/productPRM.html').flex.flex-col.gap-10px.megamenu-menu-item
                    h4.font-inter.font-bold.text-sm Partner Relationship Management
                    p.text-textGray.text-sm Get connected and reach out to channel partners to your target markets or worldwide
                    .btn.font-bold.text-blue.text-sm
                        span View Product
                        include ../../../assets/images/global/next.svg
                a(href='../templates/productIntentSignals.html').flex.flex-col.gap-10px.megamenu-menu-item
                    h4.font-inter.font-bold.text-sm RFQs and Intend Data
                    p.text-textGray.text-sm Get connected and reach out to channel partners to your target markets or worldwide
                    .btn.font-bold.text-blue.text-sm
                        span View Product
                        include ../../../assets/images/global/next.svg
            .separator.h-unset
            .flex.flex-col.gap-40px.megamenu-col
                a(href='../templates/productReferralSoftware.html').flex.flex-col.gap-10px.megamenu-menu-item
                    h4.font-inter.font-bold.text-sm Referral Software
                    p.text-textGray.text-sm Get connected and reach out to channel partners to your target markets or worldwide
                    .btn.font-bold.text-blue.text-sm
                        span View Product
                        include ../../../assets/images/global/next.svg
                a(href='../templates/productMA.html').flex.flex-col.gap-10px.megamenu-menu-item
                    h4.font-inter.font-bold.text-sm M&A Marketplace
                    p.text-textGray.text-sm Get connected and reach out to channel partners to your target markets or worldwide
                    .btn.font-bold.text-blue.text-sm
                        span View Product
                        include ../../../assets/images/global/next.svg
