div(class='col-span-1 md:col-span-full').flex.flex-col.gap-15px
    h4(class='text-sm md:text-base lg:text-lg').font-itner.font-bold CONTACT ELIOPLUS
    div(class='flex flex-col gap-15px md:gap-20px')
        a(href='../templates/contactUs.html' class='hover:text-blue text-sm md:text-base transition-colors duration-200').text-textGray Contact us
        div(class='flex flex-col gap-15px md:flex-row mdl:flex-col md:gap-30px mdl-gap-20px')
            .flex.flex-col.gap-5px
                div(class='text-sm mdl:text-base').font-bold Email:
                a(href='mailto:info@elioplus.com' class='hover:text-blackBlue text-sm md:text-base transition-colors duration-200').font-semibold.text-blue info@elioplus.com
            .flex.flex-col.gap-5px.max-w-300px
                div(class='text-sm mdl:text-base').font-bold US office:
                div(class='text-sm mdl:text-base').text-textGray <strong>Address:</strong> 3511 Silverside Road, Suite 105, Wilmington, DE 19810
            .flex.flex-col.gap-5px.max-w-300px
                div(class='text-sm mdl:text-base').font-bold Europe office:
                div(class='text-sm mdl:text-base').text-textGray <strong>Address:</strong> 33 Saronikou St , 163 45, Ilioupoli, Athens, Greece
