doctype html
html(lang="en")
    head
        - var title = 'Channel Partners and software resellers network | Elioplus'
        - var desc  = 'Recruit new channel partners & manage your partner network in an all-in-one solution. Attract new resellers, consultants, VARs and MSPs to help you scale your indirect sales.'
        - var url   = 'https://elioplus.com/'
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden
        include components/header/header-loggedin.pug
        main.transition-all.duration-200
            section.bg-gray
                .container

                    .flex.flex-col.gap-60px

                        .flex.flex-col
                            a(href='#testModal' class='button border-blue hover:text-blue modal-trigger') Modal Test

                        .flex.gap-15px
                            a(href='#' class='button border-blue hover:text-blue toast-demo' data-type='simple') Simple Alert
                            a(href='#' class='button border-blue hover:text-blue toast-demo' data-type='info') Information Alert
                            a(href='#' class='button border-blue hover:text-blue toast-demo' data-type='success') Success Alert
                            a(href='#' class='button border-blue hover:text-blue toast-demo' data-type='warning') Warning Alert
                            a(href='#' class='button border-blue hover:text-blue toast-demo' data-type='error') Error Alert


                        .grid.grid-cols-2.gap-60px

                            div.flex.flex-col.gap-30px

                                div(class='card bg-blue text-white gap-15px')
                                    div(class='flex items-center gap-5px')
                                        img(src="../assets/images/alerts/info-white.svg" alt="Quick Actions Icon" title="Click to toggle the quick actions menu" width="20" height="20")
                                        h3(class='font-bold text-base text-white') Information Message Title here
                                    p.text-sm.text-white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vitae ultrices in sed. Feugiat metus amet, id sed volutpat enim sed. Cras vel vitae, lectus id. Egestas quam auctor commodo porttitor netus risus enim. Nec mi neque malesuada aenean euismod est lorem.

                                div(class='card bg-green text-white gap-15px')
                                    div(class='flex items-center gap-5px')
                                        img(src="../assets/images/alerts/success-white.svg" alt="Quick Actions Icon" title="Click to toggle the quick actions menu" width="20" height="20")
                                        h3(class='font-bold text-base text-white') Success Message Title here
                                    p.text-sm.text-white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vitae ultrices in sed. Feugiat metus amet, id sed volutpat enim sed. Cras vel vitae, lectus id. Egestas quam auctor commodo porttitor netus risus enim. Nec mi neque malesuada aenean euismod est lorem.

                                div(class='card bg-yellow text-white gap-15px')
                                    div(class='flex items-center gap-5px')
                                        img(src="../assets/images/alerts/warning-white.svg" alt="Quick Actions Icon" title="Click to toggle the quick actions menu" width="20" height="20")
                                        h3(class='font-bold text-base text-white') Warning Message Title here
                                    p.text-sm.text-white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vitae ultrices in sed. Feugiat metus amet, id sed volutpat enim sed. Cras vel vitae, lectus id. Egestas quam auctor commodo porttitor netus risus enim. Nec mi neque malesuada aenean euismod est lorem.

                                div(class='card bg-red text-white gap-15px')
                                    div(class='flex items-center gap-5px')
                                        img(src="../assets/images/alerts/error-white.svg" alt="Quick Actions Icon" title="Click to toggle the quick actions menu" width="20" height="20")
                                        h3(class='font-bold text-base text-white') Error Message Title here
                                    p.text-sm.text-white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vitae ultrices in sed. Feugiat metus amet, id sed volutpat enim sed. Cras vel vitae, lectus id. Egestas quam auctor commodo porttitor netus risus enim. Nec mi neque malesuada aenean euismod est lorem.



                            div.flex.flex-col.gap-30px

                                div(class='card border-2 border-blue gap-15px')
                                    div(class='flex items-center gap-5px')
                                        img(src="../assets/images/alerts/info.svg" alt="Quick Actions Icon" title="Click to toggle the quick actions menu" width="20" height="20")
                                        h3(class='font-bold text-base text-blackBlue') Information Message Title here
                                    p.text-sm.text-textGray Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vitae ultrices in sed. Feugiat metus amet, id sed volutpat enim sed. Cras vel vitae, lectus id. Egestas quam auctor commodo porttitor netus risus enim. Nec mi neque malesuada aenean euismod est lorem.

                                div(class='card border-2 border-green gap-15px')
                                    div(class='flex items-center gap-5px')
                                        img(src="../assets/images/alerts/success.svg" alt="Quick Actions Icon" title="Click to toggle the quick actions menu" width="20" height="20")
                                        h3(class='font-bold text-base text-blackBlue') Success Message Title here
                                    p.text-sm.text-textGray Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vitae ultrices in sed. Feugiat metus amet, id sed volutpat enim sed. Cras vel vitae, lectus id. Egestas quam auctor commodo porttitor netus risus enim. Nec mi neque malesuada aenean euismod est lorem.

                                div(class='card border-2 border-yellow gap-15px')
                                    div(class='flex items-center gap-5px')
                                        img(src="../assets/images/alerts/warning.svg" alt="Quick Actions Icon" title="Click to toggle the quick actions menu" width="20" height="20")
                                        h3(class='font-bold text-base text-blackBlue') Warning Message Title here
                                    p.text-sm.text-textGray Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vitae ultrices in sed. Feugiat metus amet, id sed volutpat enim sed. Cras vel vitae, lectus id. Egestas quam auctor commodo porttitor netus risus enim. Nec mi neque malesuada aenean euismod est lorem.

                                div(class='card border-2 border-red gap-15px')
                                    div(class='flex items-center gap-5px')
                                        img(src="../assets/images/alerts/error.svg" alt="Quick Actions Icon" title="Click to toggle the quick actions menu" width="20" height="20")
                                        h3(class='font-bold text-base text-blackBlue') Error Message Title here
                                    p.text-sm.text-textGray Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vitae ultrices in sed. Feugiat metus amet, id sed volutpat enim sed. Cras vel vitae, lectus id. Egestas quam auctor commodo porttitor netus risus enim. Nec mi neque malesuada aenean euismod est lorem.




        include components/footer/footer.pug
        div(id='overlay' class='fixed top-0 right-0 h-screen w-screen hidden z-20 bg-transparent')

        div( id='testModal' class='modal hidden w-full max-w-[600px] p-30px flex flex-col gap-20px')

            .flex.gap-15px.flex-col.w-full
                h2(class='font-inter font-bold text-2xl') Edit Group
                .divider

            div.w-full
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                div(class='flex w-full justify-end gap-20px')

                    a(href='#' class='btn text-blackBlue border-blackBlue hover:border-blue hover:text-blue h-[40px] text-center justify-center px-25px trigger-close')
                        h4(class='text-sm font-semibold') Cancel

                    button(type='submit' class='btn bg-blue text-white hover:bg-blueDark border:bg-blueDark justify-center h-[40px] items-center')
                        h4(class='text-sm font-semibold') Save Changes
        include components/scripts.pug
