doctype html
html(lang="en")
    head
        title IT Vendors | Features | Elioplus
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden
        include components/header/header.pug
        main.transition-all.duration-200
            section.bg-gray.opener
                .container
                    div(class='grid-cols-1 lg:grid-cols-2').grid.gap-30px
                        div(class='row-start-2 lg:row-start-1 gap-20px lg:gap-30px').flex.flex-col.justify-center
                            div(class='text-center lg:text-left gap-10px lg:gap-15px').flex.flex-col
                                h1(class='text-2.5xl lg:text-5xl font-bold font-inter') Features for IT Vendors
                                h2(class='text-2xl lg:text-3xl font-bold font-inter').text-blue The benefits of Elioplus vendors.
                            p(class='text-base lg:text-body text-center lg:text-left')  All our products for IT vendors include a free package. On this page you can view all the perks that you have if you create an account with Elioplus as a vendor.
                            div(class='flex items-center gap-10px xl:gap-15px flex-col lg:flex-row')
                                a(href='../templates/featuresChannelPartners.html' class='btn large font-bold text-sm xl:text-base')
                                    span CHANNEL PARTNER FEATURES
                                    include ../assets/images/global/next.svg
                                a(href='../templates/register.html' class='btn large font-bold text-sm xl:text-base bg-blue text-white')
                                    span GET STARTED FOR FREE
                                    include ../assets/images/global/next.svg
                        img( src='../assets/images/features/vendors/opener.svg' alt='The features and benefits of Elioplus for IT Vendors offering partner programs')
                .mt-30px.wave
                    img( src='../assets/images/global/wave.svg' alt='Elioplus decorative wave')
            section
                .container
                    div(class='gap-80px lg:gap-160px').flex.flex-col

                        div(class='grid-cols-1 lg:grid-cols-2 text-img-row').grid.gap-30px
                            div(class='row-start-2 lg:row-start-1 gap-20px lg:gap-30px').flex.flex-col.justify-center
                                h3(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') Sign up for Free
                                p(class='w-full text-base lg:text-body text-center lg:text-left') Sign up (under 30 seconds), create your company's account and provide some information about your partner program structure like partnership types, benefits, support and requirements. You can add unlimited members in your team, like the Channel Manager, the Business Development etc.

                            div(class='flex items-center justify-center')
                                img( src='../assets/images/features/vendors/signup.svg' alt='Sign up for free for Vendors' loading='lazy')

                        div(class='grid-cols-1 lg:grid-cols-2 text-img-row').grid.gap-30px
                            div(class='flex items-center justify-center')
                                img( src='../assets/images/features/vendors/promote.svg' alt='Promote your partner program as an IT vendor at Elioplus' loading='lazy')
                            div(class='gap-20px lg:gap-30px').flex.flex-col.justify-center
                                h3(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') Promote your partner program
                                p(class='w-full text-base lg:text-body text-center lg:text-left') Promote your partner program and attract high quality leads to recruit new business partners and grow your channel network. Put your partner program in front of thousands of channel partners that visit our website.

                        div(class='grid-cols-1 lg:grid-cols-2 text-img-row').grid.gap-30px
                            div(class='row-start-2 lg:row-start-1 gap-20px lg:gap-30px').flex.flex-col.justify-center
                                h3(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') Get matched automatically
                                p(class='w-full text-base lg:text-body text-center lg:text-left') Based on the data you provide us, we look in 15 main criteria like product category, geographic markets, monetization structure etc. and provide you with channel partner leads that match these criteria. You set it once and we provide partner leads continuously.

                            div(class='flex items-center justify-center')
                                img( src='../assets/images/features/vendors/automatic-match.svg' alt='Get matched automatically as an sass vendor at Elioplus' loading='lazy')

                        div(class='grid-cols-1 lg:grid-cols-2 text-img-row').grid.gap-30px
                            div(class='flex items-center justify-center')
                                img( src='../assets/images/features/vendors/opportunities.svg' alt='Create a pipeline to manage all your partner leads an IT vendor at Elioplus' loading='lazy')
                            div(class='gap-20px lg:gap-30px').flex.flex-col.justify-center
                                h3(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') Opportunities pipeline
                                p(class='w-full text-base lg:text-body text-center lg:text-left') Create a pipeline to manage all your partner leads and create notes and task reminders for every event. You can also add partner leads from your website, events etc. to unify all your leads.

                        div(class='grid-cols-1 lg:grid-cols-2 text-img-row').grid.gap-30px
                            div(class='row-start-2 lg:row-start-1 gap-20px lg:gap-30px').flex.flex-col.justify-center
                                h3(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') Collaborate with your partners
                                p(class='w-full text-base lg:text-body text-center lg:text-left') Collaborate in real time with your partners to send them product, marketing and sales material. Manage your channel partners, create a content library and many more features to enable your channel network to promote your products.

                            div(class='flex items-center justify-center')
                                img( src='../assets/images/features/vendors/collaborate.svg' alt='Collaborate with your partners as a software vendor at Elioplus' loading='lazy')



            section.bg-white
                .container
                    .flex.flex-col.gap-40px
                        div(class='flex items-center justify-center w-full')
                            img( src='../assets/images/global/cta.svg' alt='Improve your business by using Elioplus' loading='lazy')
                        .flex.flex-col.gap-10px.text-center.items-center
                            h3(class='text-2xl lg:text-3xl font-bold font-inter') More than <span class='text-blue'>120.000</span> companies are using Elioplus
                            p(class='w-full lg:w-[854px] max-w-full text-base lg:text-body') What are you waiting for? Add your company for free and find out how you can improve your business with us.
                        div(class='flex justify-center items-center flex-col lg:flex-row gap-10px xl:gap-20px')
                            a(href='../templates/register.html' class='btn large font-bold text-sm xl:text-base bg-blue text-white')
                                include ../assets/images/global/circles.svg
                                span CREATE YOUR ACCOUNT FOR FREE
            section
                .container
                    div(class='gap-50px lg:gap-80px').flex.flex-col
                        .flex.flex-col.gap-10px.text-center.items-center
                            h3(class='text-2xl lg:text-3xl font-bold font-inter') Explore our products & services
                            p(class='w-full text-base lg:text-body') Find out how we are matching IT vendors with channel partners and have created more than <strong>350k</strong> partnerships that expand across <strong>120+</strong> product/service categories and <strong>156</strong> different countries worldwide.
                        div(class='w-full owl-carousel owl-theme' data-items='3')
                            div(class='p-15px lg:p-20px')
                                - var img= '../assets/images/products/partner-recruitment.svg'
                                - var name='Partner Recruitment'
                                - var desc='Get matched and recruit the best partners based on location, industry, experience and 13 more criteria.'
                                - var link='../templates/productPR.html'
                                include components/global/product.pug
                            div(class='p-15px lg:p-20px')
                                - var img= '../assets/images/products/partner-relationship-manager.svg'
                                - var name='Partner Management (PRM)'
                                - var desc='Manage your partner network and incentivize your partner with our free partner relationship management software.'
                                - var link='../templates/productPRM.html'
                                include components/global/product.pug
                            div(class='p-15px lg:p-20px')
                                - var img= '../assets/images/products/intent-signals.svg'
                                - var name='Lead Generation'
                                - var desc='Get access to quotation requests and intent data from local businesses that are on the market.'
                                - var link='../templates/productIntentSignals.html'
                                include components/global/product.pug
                            div(class='p-15px lg:p-20px')
                                - var img= '../assets/images/products/referral-software.svg'
                                - var name='Referral Software'
                                - var desc='Referral software to scale and automate your referral partner program. Made exclusively for IT companies.'
                                - var link='../templates/productReferralSoftware.html'
                                include components/global/product.pug
                            div(class='p-15px lg:p-20px')
                                - var img= '../assets/images/products/ma-marketplace.svg'
                                - var name='M&A Marketplace'
                                - var desc='Are you looking to sell your IT business? Visit our M&A Marketplace and get started in less than a minute.'
                                - var link='../templates/productMA.html'
                                include components/global/product.pug

        include components/footer/footer.pug
        div(id='overlay' class='fixed top-0 right-0 h-screen w-screen hidden z-20 bg-transparent')
        include components/scripts.pug
