doctype html
html(lang="en")
    head
        title Password Reset | Elioplus
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden
        include components/header/header.pug
        main.transition-all.duration-200
            section.bg-gray
                .container
                    div(class='gap-30px lg:gap-50px').flex.flex-col.justify-center.items-center
                        .flex.flex-col.gap-10px.text-center.items-center.w-full
                            a(href='../templates/index.html' class='w-[100px] lg:w-[150px]').block.header-logo
                                include ../assets/images/global/logo.svg
                            h3(class='text-2xl lg:text-3xl font-bold font-inter') Forgot your password?
                            p(class='text-base lg:text-body w-[572px] max-w-full') Please enter your email address below and you will receive a new password in your email inbox. You can change it any time you want.
                        .flex.flex-col.gap-25px.text-center.items-center.w-full
                            form(method='POST' class='w-[460px] max-w-full p-20px lg:p-40px').flex.flex-col.bg-white.shadow-card.rounded-10px.justify-center.items-center
                                .w-full.flex.flex-col.gap-30px
                                    .input-field
                                        label(for='email' class='text-sm font-semibold') Your email address:
                                        input(id='email' name='email' type='email' placeholder='Enter your account email address')
                                    .w-full.flex.flex-col.gap-20px
                                        button(type='submit' class='btn large font-bold text-sm bg-blue text-white w-full justify-center')
                                            span RESET MY PASSOWRD
                                            include ../assets/images/global/next.svg
        include components/footer/footer.pug
        div(id='overlay' class='fixed top-0 right-0 h-screen w-screen hidden z-20 bg-transparent')
        include components/scripts.pug
