mixin faqFeatureItem(question, answer)
    details(class='text-sm lg:text-base').faq-item.bg-white.shadow-card.relative.rounded-4px.h-fit
        summary(class='px-10px py-15px lg:p-20px pr-30px lg:pr-40px').flex.gap-7px.font-bold.relative
            div.text-blue Q.
            div=question
        p(class='px-10px lg:px-20px py-25px')=answer

mixin featureItem(name, included)
    .flex.items-center.gap-5px
        div(class='w-[20px] h-[20px]').flex.items-center.justify-center
            if included
                img(src='../assets/images/pricing/check.svg' alt='Included feature for '+name loading='lazy')
            else
                img(src='../assets/images/pricing/close.svg' alt='Not included feature for '+name loading='lazy')
        if included
            div(class='text-[15px]')=name
        else
            div(class='text-[15px]').text-textGray=name

doctype html
html(lang="en")
    head
        - var title = 'Pricing for Partner Recruitment Automate & Database | Elioplus'
        - var desc  = 'View our pricing plans for partner recruitment software. Join for free on our basic plan, upgrade or downgrade anytime. Completely free for channel partners.'
        - var url   = 'https://elioplus.com/pricing/partner-recruitment'
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden
        include components/header/header.pug
        main.transition-all.duration-200
            section
                .container
                    div(class='gap-40px lg:gap-60px').flex.flex-col.justify-center.items-center.w-full
                        div(class='gap-20px lg:gap-30px').flex.flex-col.justify-center.items-center.w-full
                            div(class='text-center gap-5px lg:gap-10px').flex.flex-col.items-center.w-full
                                h2(class='text-base lg:text-lg font-semibold').text-blue PARTNER RECRUITMENT PRICING
                                h1(class='text-2.5xl lg:text-5xl font-bold font-inter') Partner Recruitment Database & Automate
                                p(class='text-base lg:text-body text-center w-[900px] max-w-full') Get connected and reach out to channel partners to your target markets or worldwide, to help you grow your partner network and increase your indirect sales.
                            div(class='flex justify-center')
                                a(href='../templates/productPR.html' class='btn large font-bold text-sm xl:text-base').bg-white
                                    span VIEW PRM PRODUCT IN DETAIL
                                    include ../assets/images/global/next.svg
                        div(id="tabs" class='w-full lg:w-[600px]').flex.gap-0.items-center.text-center
                            a(href='#database' class='active tab-item w-2/4 text-base lg:text-lg').font-inter.font-medium.text-textGray DATABASE
                            a(href='#automate' class='w-2/4 tab-item text-base lg:text-lg').font-inter.font-medium.text-textGray AUTOMATE

                        div(id='database' class='tab-content grid-cols-1 sm:grid-cols-2 grid lg:flex lg:flex-row lg:justify-between items-center gap-30px lg:gap-20px').w-full
                            div(class='w-[310px] max-w-full mx-auto').bg-white.shadow-card.rounded-20px.p-30px.flex.flex-col.gap-25px
                                .flex.flex-col.gap-10px.w-full
                                    h3(class='text-xl lg:text-2xl font-bold font-inter text-center lg:text-left') Free
                                    p(class='w-full text-sm lg:text-[15px] text-center lg:text-left') What you need to get started and try the Elioplus PR software.
                                .flex.flex-col.gap-10px.w-full
                                    h4(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') €0
                                    p(class='w-full text-sm lg:text-sm text-center lg:text-left italic').text-textGray Upgrade to a premium plan anytime.
                                a(href='../templates/register.html' class='btn large font-bold text-sm').bg-white.border-blackBlue.text-blackBlue.w-full.justify-center
                                    span START FOR FREE
                                    include ../assets/images/global/next.svg
                                .flex.flex-col.gap-15px.w-full
                                    h5.text-base.font-inter.font-semibold Features:
                                    .flex.flex-col.gap-5px.w-full
                                        +featureItem( '5 Messages', true )
                                        +featureItem( 'Matches', false )
                                        +featureItem( 'Recommended Profile', false )
                                        +featureItem( 'Advanced Searches', false )

                            div(class='w-[310px] max-w-full mx-auto').bg-white.shadow-card.rounded-20px.p-30px.flex.flex-col.gap-25px
                                .flex.flex-col.gap-10px.w-full
                                    h3(class='text-xl lg:text-2xl font-bold font-inter text-center lg:text-left') Start-Up
                                    p(class='w-full text-sm lg:text-[15px] text-center lg:text-left') For small companies and start-ups that need a PR solution.
                                .flex.flex-col.gap-10px.w-full
                                    h4(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') €239
                                    p(class='w-full text-sm lg:text-sm text-center lg:text-left italic').text-textGray Per month, you can cancel anytime.
                                a(href='../templates/register.html' class='btn large font-bold text-sm').bg-white.border-blackBlue.text-blackBlue.w-full.justify-center
                                    span GET STARTED NOW
                                    include ../assets/images/global/next.svg
                                .flex.flex-col.gap-15px.w-full
                                    h5.text-base.font-inter.font-semibold Features:
                                    .flex.flex-col.gap-5px.w-full
                                        +featureItem( '15 Messages', true )
                                        +featureItem( '100 Matches', true )
                                        +featureItem( 'Recommended Profile', true )
                                        +featureItem( 'Advanced Searches', true )


                            div(class='w-[310px] max-w-full mx-auto').bg-white.shadow-card.rounded-20px.p-30px.flex.flex-col.gap-25px
                                .flex.flex-col.gap-10px.w-full
                                    h3(class='text-xl lg:text-2xl font-bold font-inter text-center lg:text-left').text-blue Growth
                                    p(class='w-full text-sm lg:text-[15px] text-center lg:text-left') For medium and large companies that scale and grow fast.
                                .flex.flex-col.gap-10px.w-full
                                    h4(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') €319
                                    p(class='w-full text-sm lg:text-sm text-center lg:text-left italic').text-textGray Per month, you can cancel anytime.
                                a(href='../templates/register.html' class='btn large font-bold text-sm').bg-blue.text-white.w-full.justify-center
                                    span GET STARTED NOW
                                    include ../assets/images/global/next.svg
                                .flex.flex-col.gap-15px.w-full
                                    h5.text-base.font-inter.font-semibold Features:
                                    .flex.flex-col.gap-5px.w-full
                                        +featureItem( '15 Messages', true )
                                        +featureItem( '150 Matches', true )
                                        +featureItem( 'Recommended Profile', true )
                                        +featureItem( 'Advanced Searches', true )

                            div(class='w-[310px] max-w-full mx-auto').bg-white.shadow-card.rounded-20px.p-30px.flex.flex-col.gap-25px
                                .flex.flex-col.gap-10px.w-full
                                    h3(class='text-xl lg:text-2xl font-bold font-inter text-center lg:text-left') Enterprise
                                    p(class='w-full text-sm lg:text-[15px] text-center lg:text-left') For big corporations with extensive requirements.
                                .flex.flex-col.gap-10px.w-full
                                    h4(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') €900+
                                    p(class='w-full text-sm lg:text-sm text-center lg:text-left italic').text-textGray Custom pricing, starting from.
                                a(href='../templates/contactUs.html' class='btn large font-bold text-sm').bg-white.border-blackBlue.text-blackBlue.w-full.justify-center
                                    span CONTACT US
                                    include ../assets/images/global/next.svg
                                .flex.flex-col.gap-15px.w-full
                                    h5.text-base.font-inter.font-semibold Features:
                                    .flex.flex-col.gap-5px.w-full
                                        +featureItem( 'Custom No. of messages', true )
                                        +featureItem( 'Custom No. of matches', true )
                                        +featureItem( 'Recommended Profile', true )
                                        +featureItem( 'Advanced Searches', true )

                        div(id='automate' class='tab-content grid-cols-1 sm:grid-cols-2 grid hidden lg:flex lg:flex-row lg:justify-between items-center gap-30px lg:gap-20px').w-full

                            div(class='w-[310px] max-w-full mx-auto').bg-white.shadow-card.rounded-20px.p-30px.flex.flex-col.gap-25px
                                .flex.flex-col.gap-10px.w-full
                                    h3(class='text-xl lg:text-2xl font-bold font-inter text-center lg:text-left') Free
                                    p(class='w-full text-sm lg:text-[15px] text-center lg:text-left') What you need to get started and try the Elioplus PR software.
                                .flex.flex-col.gap-10px.w-full
                                    h4(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') €0
                                    p(class='w-full text-sm lg:text-sm text-center lg:text-left italic').text-textGray Upgrade to a premium plan anytime.
                                a(href='../templates/register.html' class='btn large font-bold text-sm').bg-white.border-blackBlue.text-blackBlue.w-full.justify-center
                                    span START FOR FREE
                                    include ../assets/images/global/next.svg
                                .flex.flex-col.gap-15px.w-full
                                    h5.text-base.font-inter.font-semibold Features:
                                    .flex.flex-col.gap-5px.w-full
                                        +featureItem( '5 Messages', true )
                                        +featureItem( 'Matches', false )
                                        +featureItem( 'Recommended Profile', false )
                                        +featureItem( 'Advanced Searches', false )

                            div(class='w-[310px] max-w-full mx-auto').bg-white.shadow-card.rounded-20px.p-30px.flex.flex-col.gap-25px
                                .flex.flex-col.gap-10px.w-full
                                    h3(class='text-xl lg:text-2xl font-bold font-inter text-center lg:text-left') Start-Up
                                    p(class='w-full text-sm lg:text-[15px] text-center lg:text-left') For small companies and start-ups that need a PR solution.
                                .flex.flex-col.gap-10px.w-full
                                    h4(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') €339
                                    p(class='w-full text-sm lg:text-sm text-center lg:text-left italic').text-textGray Per month, you can cancel anytime.
                                a(href='../templates/register.html' class='btn large font-bold text-sm').bg-white.border-blackBlue.text-blackBlue.w-full.justify-center
                                    span GET STARTED NOW
                                    include ../assets/images/global/next.svg
                                .flex.flex-col.gap-15px.w-full
                                    h5.text-base.font-inter.font-semibold Features:
                                    .flex.flex-col.gap-5px.w-full
                                        +featureItem( '15 Messages', true )
                                        +featureItem( '100 Matches', true )
                                        +featureItem( 'Recommended Profile', true )
                                        +featureItem( 'Advanced Searches', true )


                            div(class='w-[310px] max-w-full mx-auto').bg-white.shadow-card.rounded-20px.p-30px.flex.flex-col.gap-25px
                                .flex.flex-col.gap-10px.w-full
                                    h3(class='text-xl lg:text-2xl font-bold font-inter text-center lg:text-left').text-blue Growth
                                    p(class='w-full text-sm lg:text-[15px] text-center lg:text-left') For medium and large companies that scale and grow fast.
                                .flex.flex-col.gap-10px.w-full
                                    h4(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') €419
                                    p(class='w-full text-sm lg:text-sm text-center lg:text-left italic').text-textGray Per month, you can cancel anytime.
                                a(href='../templates/register.html' class='btn large font-bold text-sm').bg-blue.text-white.w-full.justify-center
                                    span GET STARTED NOW
                                    include ../assets/images/global/next.svg
                                .flex.flex-col.gap-15px.w-full
                                    h5.text-base.font-inter.font-semibold Features:
                                    .flex.flex-col.gap-5px.w-full
                                        +featureItem( '15 Messages', true )
                                        +featureItem( '150 Matches', true )
                                        +featureItem( 'Recommended Profile', true )
                                        +featureItem( 'Advanced Searches', true )

                            div(class='w-[310px] max-w-full mx-auto').bg-white.shadow-card.rounded-20px.p-30px.flex.flex-col.gap-25px
                                .flex.flex-col.gap-10px.w-full
                                    h3(class='text-xl lg:text-2xl font-bold font-inter text-center lg:text-left') Enterprise
                                    p(class='w-full text-sm lg:text-[15px] text-center lg:text-left') For big corporations with extensive requirements.
                                .flex.flex-col.gap-10px.w-full
                                    h4(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') €1200+
                                    p(class='w-full text-sm lg:text-sm text-center lg:text-left italic').text-textGray Custom pricing, starting from.
                                a(href='../templates/contactUs.html' class='btn large font-bold text-sm').bg-white.border-blackBlue.text-blackBlue.w-full.justify-center
                                    span CONTACT US
                                    include ../assets/images/global/next.svg
                                .flex.flex-col.gap-15px.w-full
                                    h5.text-base.font-inter.font-semibold Features:
                                    .flex.flex-col.gap-5px.w-full
                                        +featureItem( 'Custom No. of messages', true )
                                        +featureItem( 'Custom No. of matches', true )
                                        +featureItem( 'Recommended Profile', true )
                                        +featureItem( 'Advanced Searches', true )

                        p(class='text-sm lg:text-base text-center w-[970px] max-w-full').text-textGray.italic
                            | Prices do not include VAT. Charges may vary based on your country.
                            | <br class='hidden lg:block'>
                            | If you require to manage a big network of partners contact our sales team for a custom enterprise plan that will suit your needs.
            section.bg-white
                .container
                    div(class='gap-50px lg:gap-80px').flex.flex-col

                        div(class='grid-cols-1 lg:grid-cols-2 text-img-row').grid.gap-50px
                            div(class='flex items-center justify-center')
                                img(src='../assets/images/pricing/pr-cta.svg' alt='Join more than 120k companies using Elioplus for Partner Recruiting' loading='lazy')
                            div(class='gap-20px lg:gap-30px').flex.flex-col.justify-center
                                h3(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') More than <span class='text-blue'>120,000</span> companies are using Elioplus.
                                p(class='w-full text-base lg:text-body text-center lg:text-left') What are you waiting for? Select the plan that fits your needs and start recruiting channel partners based on your criteria.

                                div(class='flex justify-center lg:justify-start gap-15px flex-col lg:flex-row items-center')
                                    a(href='../templates/productPR.html' class='btn large font-bold text-sm xl:text-base')
                                        span PARTNER RECRUITMENT DETAILS
                                        include ../assets/images/global/next.svg
                                    a(href='../templates/register.html' class='btn large font-bold text-sm xl:text-base bg-blue text-white')
                                        span GET STARTED NOW
                                        include ../assets/images/global/next.svg
            section
                .container
                    div(class='gap-30px lg:gap-50px').flex.flex-col
                        .flex.flex-col.gap-10px
                            h3(class='text-2xl lg:text-3xl font-bold font-inter') Frequently Asked Questions
                            p(class='w-full text-base lg:text-body text-left') Common questions about the Elioplus Partner Recruitment software.
                        div(class='grid-cols-1 lg:grid-cols-2 gap-30px').grid
                            +faqFeatureItem('How many channel partners do you have available?', 'We do our best to check and verify the data provided by our users but it their responsibility to give us accurate data. We want to keep the quality of content on our website very high and we are developing tools towards this direction in order to provide accurate and relevant information.')
                            +faqFeatureItem('Can I recruit channel partners on a global scale?', 'We do our best to check and verify the data provided by our users but it their responsibility to give us accurate data. We want to keep the quality of content on our website very high and we are developing tools towards this direction in order to provide accurate and relevant information.')
                            +faqFeatureItem('How can I browse for channel partners?', 'We do our best to check and verify the data provided by our users but it their responsibility to give us accurate data. We want to keep the quality of content on our website very high and we are developing tools towards this direction in order to provide accurate and relevant information.')
                            +faqFeatureItem('Can I reach out to companies that I’m interested in?', 'We do our best to check and verify the data provided by our users but it their responsibility to give us accurate data. We want to keep the quality of content on our website very high and we are developing tools towards this direction in order to provide accurate and relevant information.')

        include components/footer/footer.pug
        div(id='overlay' class='fixed top-0 right-0 h-screen w-screen hidden z-20 bg-transparent')
        include components/scripts.pug
