
mixin featureItem(name, included)
    .flex.items-center.gap-5px
        div(class='w-[20px] h-[20px]').flex.items-center.justify-center
            if included
                img(src='../assets/images/pricing/check.svg' alt='Included feature for ' + name loading='lazy')
            else
                img(src='../assets/images/pricing/close.svg' alt='Not included feature for ' + name loading='lazy')
        if included
            div(class='text-[15px]')=name
        else
            div(class='text-[15px]').text-textGray=name


doctype html
html(lang="en")
    head
        title Partner Relation Management (PRM) Software | Elioplus
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden
        include components/header/header.pug
        main.transition-all.duration-200

            - var productName = 'PRM Software'
            - var btnText = 'GET STARTED'
            - var btnLink = 'https://calendly.com/elioplus'
            - var terms = { 'Overview': '#overview',  'Features': '#features',  'Integrations': '#integrations',  'Pricing': '#pricing', 'Our Clients': '#clients', 'Testimonials': '#testimonials'  }
            include components/header/productHeader.pug

            section(id='overview').bg-gradient-product.opener
                .container
                    div(class='grid-cols-1 lg:grid-cols-2').grid.gap-30px
                        div(class='row-start-2 lg:row-start-1 gap-20px lg:gap-30px').flex.flex-col.justify-center
                            div(class='text-center lg:text-left gap-10px lg:gap-15px').flex.flex-col
                                h1(class='text-2.5xl lg:text-5xl font-bold font-inter') Partner Relation Management Software (PRM)
                                h2(class='text-2xl lg:text-3xl font-bold font-inter').text-blue Boost your Channel Sales.
                            p(class='text-base lg:text-body text-center lg:text-left') The perfect PRM software to supercharge your partner network. Enable your partners to register deals, distribute leads, manage your content, collaborate in real time and many more features.

                            div(class='flex items-center gap-10px xl:gap-15px flex-col lg:flex-row')
                                a(href='https://calendly.com/elioplus' class='btn large font-bold text-sm xl:text-base')
                                    span SCHEDULE A DEMO
                                    include ../assets/images/global/next.svg
                                a(href='../templates/register.html' class='btn large font-bold text-sm xl:text-base bg-blue text-white')
                                    include ../assets/images/global/circles.svg
                                    span GET STARTED FOR FREE

                        .flex.justify-center.items-center
                            img(src='../assets/images/referral-software/dashboard.png' alt='Partner Relation Management Software (PRM) solution by Elioplus').shadow-card.rounded-10px
                .mt-30px.wave
                    img( src='../assets/images/global/wave.svg' alt='Elioplus decorative wave')


            section(id='features')
                .container
                    div(class='gap-50px lg:gap-80px').flex.flex-col

                        .flex.flex-col.gap-10px.text-center.items-center
                            h3(class='text-2xl lg:text-3xl font-bold font-inter') Features that matter
                            p(class='w-full text-base lg:text-body') Elioplus PRM provides features that can increase your channel sales. Avoid a ton of features that make your life difficult. Through Elioplus PRM you are focusing on your channel partner's productivity and needs through collaboration and incentivization.

                        div(class='gap-80px lg:gap-120px').flex.flex-col

                            div(class='grid-cols-1 lg:grid-cols-2 text-img-row gap-30px lg:gap-50px').grid
                                .flex.justify-center.items-center
                                    img(src='../assets/images/referral-software/dashboard.png' alt='Deals – Collaborative Sales with Elioplus PRM software' loading='lazy').shadow-card.rounded-10px
                                div(class='gap-15px lg:gap-25px').flex.flex-col.justify-center
                                    h3(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') Deals – Collaborative Sales
                                    p(class='w-full text-base lg:text-xl text-center lg:text-left')
                                        | Enable your partners to register deals and collaborate with them in each deal by adding notes and documents as you move forward. Your partners can upload a new deal directly from our platform or their CRM and our system checks for duplicates so you can approve or reject a deal without hassle. Track all your current and past deals from a single place and set specific timeframes for your partners. Triggered notifications will help them keep track of their deadlines.
                                    div(class='flex items-center gap-10px xl:gap-15px flex-col lg:flex-row')
                                        a(href='../templates/prmFeature.html' class='btn font-bold text-xs xl:text-sm').text-blue
                                            span READ MORE
                                            include ../assets/images/global/next.svg

                            div(class='grid-cols-1 lg:grid-cols-2 text-img-row gap-30px lg:gap-50px').grid
                                div(class='row-start-2 lg:row-start-1 gap-15px lg:gap-25px').flex.flex-col.justify-center
                                    h3(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') Lead Distribution
                                    p(class='w-full text-base lg:text-xl text-center lg:text-left')
                                        | Elioplus PRM helps you to distribute leads to your partners seamlessly. Either upload a new lead or pull it from your CRM or marketing automation system and send it to your partners. Our system will automatically update the status of every lead both on your partner portal and your CRM so you have the correct data for your use on all your applications. From the analytics section you will be able to see the closing rate for your partner network and every partner separately.

                                    div(class='flex items-center gap-10px xl:gap-15px flex-col lg:flex-row')
                                        a(href='../templates/prmFeature.html' class='btn font-bold text-xs xl:text-sm').text-blue
                                            span READ MORE
                                            include ../assets/images/global/next.svg

                                .flex.justify-center.items-center
                                    img(src='../assets/images/referral-software/activity.png' alt='Lead Distribution with Elioplus PRM software' loading='lazy').shadow-card.rounded-10px

                            div(class='grid-cols-1 lg:grid-cols-2 text-img-row gap-30px lg:gap-50px').grid
                                .flex.justify-center.items-center
                                    img(src='../assets/images/referral-software/activation.png' alt='Integrate your CRM with Elioplus PRM software' loading='lazy').shadow-card.rounded-10px
                                div(class='gap-15px lg:gap-25px').flex.flex-col.justify-center
                                    h3(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') Integrate your CRM
                                    p(class='w-full text-base lg:text-xl text-center lg:text-left')
                                        | We offer an one-step option to integrate your CRM system and transfer data between the two applications seamlessly. This will enable you to pull data from your CRM that you want to distribute to your partners, receive new deals without the manual process or check for duplicate deals without leaving your partner portal. When your partners make a status change then all the deals and leads will be automatically updated on your CRM, so, you won’t miss a thing or view outdated information.

                                    div(class='flex items-center gap-10px xl:gap-15px flex-col lg:flex-row')
                                        a(href='../templates/prmFeature.html' class='btn font-bold text-xs xl:text-sm').text-blue
                                            span READ MORE
                                            include ../assets/images/global/next.svg

                            div(class='grid-cols-1 lg:grid-cols-2 text-img-row gap-30px lg:gap-50px').grid
                                div(class='row-start-2 lg:row-start-1 gap-15px lg:gap-25px').flex.flex-col.justify-center
                                    h3(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') Content Management
                                    p(class='w-full text-base lg:text-xl text-center lg:text-left')
                                        | Our Library helps you to upload all your content in a single place, create different content categories and make it available to all you partners, send documents to a specific partner or group of partners. The Onboarding feature enables you to add content for all your partners so they can improve their product skills or send new sales, marketing and other types of material. Our triggered notifications make sure that your partners are notified that you uploaded new material.

                                    div(class='flex items-center gap-10px xl:gap-15px flex-col lg:flex-row')
                                        a(href='../templates/prmFeature.html' class='btn font-bold text-xs xl:text-sm').text-blue
                                            span READ MORE
                                            include ../assets/images/global/next.svg

                                .flex.justify-center.items-center
                                    img(src='../assets/images/referral-software/dashboard.png' alt='Content Management with Elioplus PRM software' loading='lazy').shadow-card.rounded-10px



            section.bg-gray
                .container
                    div(class='gap-50px lg:gap-80px').flex.flex-col

                        div(class='text-center lg:text-left items-center lg:items-start').flex.flex-col.gap-10px
                            h3(class='text-2xl lg:text-3xl font-bold font-inter') All PRM Features
                            p(class='w-full text-base lg:text-body') One software solution with numerous & useful features.
                            div(class='flex items-center gap-10px xl:gap-15px flex-col lg:flex-row mt-10px')

                                a(href='../templates/prmFeature.html' class='btn large font-bold text-sm xl:text-base bg-blue text-white')
                                    include ../assets/images/global/circles.svg
                                    span VIEW COMPLETE LIST OF FEATURES

                        div(class='grid-cols-1 md:grid-cols-2 gap-30px lg:gap-50px').grid

                            div(class='w-full').flex.gap-10px.items-start
                                div(class='pt-5px lg:pt-10px')
                                    div(class='w-[15px] h-[15px] rounded-full').bg-blue
                                div(class='gap-0 lg:gap-5px').flex.flex-col
                                    h4(class='text-base lg:text-body').font-bold Tier Management
                                    h5(class='text-sm lg:text-base') Tier management enables you to create different tiers for your channel partners, manage commissions, incentivize them with goal setting tasks and give them permissions to features based on their tier.
                                    a(href='../templates/prmFeature.html' class='btn font-bold text-xs xl:text-sm mt-10px').text-blue
                                        span READ MORE
                                        include ../assets/images/global/next.svg

                            div(class='w-full').flex.gap-10px.items-start
                                div(class='pt-5px lg:pt-10px')
                                    div(class='w-[15px] h-[15px] rounded-full').bg-blue
                                div(class='gap-0 lg:gap-5px').flex.flex-col
                                    h4(class='text-base lg:text-body').font-bold Multi-currency
                                    h5(class='text-sm lg:text-base') If you have an international partner network then every partner can work on their local currency or select a different currency by default and all deals are automatically converted to your local currency.
                                    a(href='../templates/prmFeature.html' class='btn font-bold text-xs xl:text-sm mt-10px').text-blue
                                        span READ MORE
                                        include ../assets/images/global/next.svg

                            div(class='w-full').flex.gap-10px.items-start
                                div(class='pt-5px lg:pt-10px')
                                    div(class='w-[15px] h-[15px] rounded-full').bg-blue
                                div(class='gap-0 lg:gap-5px').flex.flex-col
                                    h4(class='text-base lg:text-body').font-bold Analytics
                                    h5(class='text-sm lg:text-base') Get insights for your partner network’s performance, detailed analytics for each partner, their activity on your partner portal and forecasting for potential deals that might close successfully from your channel partners in the next quarters.
                                    a(href='../templates/prmFeature.html' class='btn font-bold text-xs xl:text-sm mt-10px').text-blue
                                        span READ MORE
                                        include ../assets/images/global/next.svg

                            div(class='w-full').flex.gap-10px.items-start
                                div(class='pt-5px lg:pt-10px')
                                    div(class='w-[15px] h-[15px] rounded-full').bg-blue
                                div(class='gap-0 lg:gap-5px').flex.flex-col
                                    h4(class='text-base lg:text-body').font-bold Partner Portal
                                    h5(class='text-sm lg:text-base') Enjoy a full branded partner portal with your own logo and your unique sign up and sign in URL. Your channel partners can now easily have access to the PRM through your unique partner portal page which you can upload on your website as well.
                                    a(href='../templates/prmFeature.html' class='btn font-bold text-xs xl:text-sm mt-10px').text-blue
                                        span READ MORE
                                        include ../assets/images/global/next.svg

                            div(class='w-full').flex.gap-10px.items-start
                                div(class='pt-5px lg:pt-10px')
                                    div(class='w-[15px] h-[15px] rounded-full').bg-blue
                                div(class='gap-0 lg:gap-5px').flex.flex-col
                                    h4(class='text-base lg:text-body').font-bold Partner Activation
                                    h5(class='text-sm lg:text-base') Keep your partners active with triggered notifications based on their actions and pending tasks. The system sends multiple email notifications so your partners won’t miss any critical update or deal registration deadline.
                                    a(href='../templates/prmFeature.html' class='btn font-bold text-xs xl:text-sm mt-10px').text-blue
                                        span READ MORE
                                        include ../assets/images/global/next.svg

                            div(class='w-full').flex.gap-10px.items-start
                                div(class='pt-5px lg:pt-10px')
                                    div(class='w-[15px] h-[15px] rounded-full').bg-blue
                                div(class='gap-0 lg:gap-5px').flex.flex-col
                                    h4(class='text-base lg:text-body').font-bold Partner Locator
                                    h5(class='text-sm lg:text-base') Add a partner locator to showcase your partners to your visitors in order to find a local company that offers your products and services. Incentivize your partners with new leads and your customers with better support.
                                    a(href='../templates/prmFeature.html' class='btn font-bold text-xs xl:text-sm mt-10px').text-blue
                                        span READ MORE
                                        include ../assets/images/global/next.svg

                            div(class='w-full').flex.gap-10px.items-start
                                div(class='pt-5px lg:pt-10px')
                                    div(class='w-[15px] h-[15px] rounded-full').bg-blue
                                div(class='gap-0 lg:gap-5px').flex.flex-col
                                    h4(class='text-base lg:text-body').font-bold Collaboration
                                    h5(class='text-sm lg:text-base') Collaborate in real time with one-to-one conversations or create groups to exchange information and send documents to specific partners in order to increase their engagement and productivity.
                                    a(href='../templates/prmFeature.html' class='btn font-bold text-xs xl:text-sm mt-10px').text-blue
                                        span READ MORE
                                        include ../assets/images/global/next.svg

                            div(class='w-full').flex.gap-10px.items-start
                                div(class='pt-5px lg:pt-10px')
                                    div(class='w-[15px] h-[15px] rounded-full').bg-blue
                                div(class='gap-0 lg:gap-5px').flex.flex-col
                                    h4(class='text-base lg:text-body').font-bold Roles Management
                                    h5(class='text-sm lg:text-base') Create different roles for your team members and add permissions for each role. You can allow them access to certain features or the ability to edit and delete content on each feature.
                                    a(href='../templates/prmFeature.html' class='btn font-bold text-xs xl:text-sm mt-10px').text-blue
                                        span READ MORE
                                        include ../assets/images/global/next.svg


            section(id='integrations').bg-white
                .container
                    .flex.flex-col.gap-40px
                        .flex.flex-col.gap-10px.text-center.items-center
                            h3(class='text-2xl lg:text-3xl font-bold font-inter') Integrations
                            p(class='w-full text-base lg:text-body') You can easily connect your CRM with our one step integration to transfer all lead submissions directly to your CRM. <br class='hidden lg:block'> We connect with Hubspot, Salesforce and all major CRMs.
                        div(class='m-carousel' data-items=1).flex.gap-50px.justify-center
                            div.flex.items-center.justify-center
                                div.w-max
                                    img(src='../assets/images/referral-software/hubspot.png' alt='hubspot Integration' loading='lazy')
                            div.flex.items-center.justify-center
                                div.w-max
                                    img(src='../assets/images/referral-software/microsoftcrm.png' alt='microsoftcrm Integration' loading='lazy')
                            div.flex.items-center.justify-center
                                div.w-max
                                    img(src='../assets/images/referral-software/salesforce.png' alt='salesforce Integration' loading='lazy')

            section(id='pricing').bg-gray
                .container
                    div(class='gap-40px lg:gap-60px').flex.flex-col.justify-center.items-center.w-full
                        div(class='gap-20px lg:gap-30px').flex.flex-col.justify-center.items-center.w-full
                            div(class='text-center gap-5px lg:gap-10px').flex.flex-col.items-center.w-full
                                h2(class='text-base lg:text-lg font-semibold').text-blue PRM SOFTWARE PRICING
                                h1(class='text-2.5xl lg:text-5xl font-bold font-inter') Partner Relationship Management
                                p(class='text-base lg:text-body text-center w-[900px] max-w-full') Manage your partner network and incentivize your partner with our partner relationship management software. Get started with the plan that suits your needs.

                        div(class='grid-cols-1 sm:grid-cols-2 grid lg:flex lg:flex-row lg:justify-between items-center gap-30px lg:gap-20px').w-full

                            div(class='w-[310px]  max-w-full mx-auto').bg-white.shadow-card.rounded-20px.p-30px.flex.flex-col.gap-25px
                                .flex.flex-col.gap-10px.w-full
                                    h3(class='text-xl lg:text-2xl font-bold font-inter text-center lg:text-left') Free
                                    p(class='w-full text-sm lg:text-[15px] text-center lg:text-left') What you need to get started and try the Elioplus PRM software.
                                .flex.flex-col.gap-10px.w-full
                                    h4(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') €0
                                    p(class='w-full text-sm lg:text-sm text-center lg:text-left italic').text-textGray Upgrade to a premium plan anytime.
                                a(href='../templates/register.html' class='btn large font-bold text-sm').bg-white.border-blackBlue.text-blackBlue.w-full.justify-center
                                    span START FOR FREE
                                    include ../assets/images/global/next.svg
                                .flex.flex-col.gap-15px.w-full
                                    h5.text-base.font-inter.font-semibold Features:
                                    .flex.flex-col.gap-5px.w-full
                                        .flex.items-center.gap-5px
                                            div(class='w-[20px] h-[20px]').flex.items-center.justify-center
                                                include ../assets/images/pricing/partners.svg
                                            div(class='text-[15px]') Manage up to 5 partners
                                        .flex.items-center.gap-5px
                                            div(class='w-[20px] h-[20px]').flex.items-center.justify-center
                                                include ../assets/images/pricing/storage.svg
                                            div(class='text-[15px]') 2 GB library storage
                                        +featureItem( 'Onboarding', true )
                                        +featureItem( 'Deal registration', true )
                                        +featureItem( 'Lead Distribution', true )
                                        +featureItem( 'Collaboration', true )
                                        +featureItem( 'Partner directory', true )
                                        +featureItem( 'Partner to partner', true )
                                        +featureItem( 'Partner recruitment', false )
                                        +featureItem( 'Customization', false )

                            div(class='w-[310px]  max-w-full mx-auto').bg-white.shadow-card.rounded-20px.p-30px.flex.flex-col.gap-25px
                                .flex.flex-col.gap-10px.w-full
                                    h3(class='text-xl lg:text-2xl font-bold font-inter text-center lg:text-left') Start-Up
                                    p(class='w-full text-sm lg:text-[15px] text-center lg:text-left') For small companies and start-ups that need a PRM solution.
                                .flex.flex-col.gap-10px.w-full
                                    h4(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') €298
                                    p(class='w-full text-sm lg:text-sm text-center lg:text-left italic').text-textGray Per month, you can cancel anytime.
                                a(href='../templates/register.html' class='btn large font-bold text-sm').bg-white.border-blackBlue.text-blackBlue.w-full.justify-center
                                    span GET STARTED NOW
                                    include ../assets/images/global/next.svg
                                .flex.flex-col.gap-15px.w-full
                                    h5.text-base.font-inter.font-semibold Features:
                                    .flex.flex-col.gap-5px.w-full
                                        .flex.items-center.gap-5px
                                            div(class='w-[20px] h-[20px]').flex.items-center.justify-center
                                                include ../assets/images/pricing/partners.svg
                                            div(class='text-[15px]') Manage up to 100 partners
                                        .flex.items-center.gap-5px
                                            div(class='w-[20px] h-[20px]').flex.items-center.justify-center
                                                include ../assets/images/pricing/storage.svg
                                            div(class='text-[15px]') 10 GB library storage
                                        +featureItem( 'Onboarding', true )
                                        +featureItem( 'Deal registration', true )
                                        +featureItem( 'Lead Distribution', true )
                                        +featureItem( 'Collaboration', true )
                                        +featureItem( 'Partner directory', true )
                                        +featureItem( 'Partner to partner', true )
                                        +featureItem( 'Partner recruitment', true )
                                        +featureItem( 'Customization', true )

                            div(class='w-[310px]  max-w-full mx-auto').bg-white.shadow-card.rounded-20px.p-30px.flex.flex-col.gap-25px
                                .flex.flex-col.gap-10px.w-full
                                    h3(class='text-xl lg:text-2xl font-bold font-inter text-center lg:text-left').text-blue Growth
                                    p(class='w-full text-sm lg:text-[15px] text-center lg:text-left') For medium and large companies that scale and grow fast.
                                .flex.flex-col.gap-10px.w-full
                                    h4(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') €498
                                    p(class='w-full text-sm lg:text-sm text-center lg:text-left italic').text-textGray Per month, you can cancel anytime.
                                a(href='../templates/register.html' class='btn large font-bold text-sm').bg-blue.text-white.w-full.justify-center
                                    span GET STARTED NOW
                                    include ../assets/images/global/next.svg
                                .flex.flex-col.gap-15px.w-full
                                    h5.text-base.font-inter.font-semibold Features:
                                    .flex.flex-col.gap-5px.w-full
                                        .flex.items-center.gap-5px
                                            div(class='w-[20px] h-[20px]').flex.items-center.justify-center
                                                include ../assets/images/pricing/partners.svg
                                            div(class='text-[15px]') Manage up to 250 partners
                                        .flex.items-center.gap-5px
                                            div(class='w-[20px] h-[20px]').flex.items-center.justify-center
                                                include ../assets/images/pricing/storage.svg
                                            div(class='text-[15px]') 20 GB library storage
                                        +featureItem( 'Onboarding', true )
                                        +featureItem( 'Deal registration', true )
                                        +featureItem( 'Lead Distribution', true )
                                        +featureItem( 'Collaboration', true )
                                        +featureItem( 'Partner directory', true )
                                        +featureItem( 'Partner to partner', true )
                                        +featureItem( 'Partner recruitment', true )
                                        +featureItem( 'Customization', true )

                            div(class='w-[310px]  max-w-full mx-auto').bg-white.shadow-card.rounded-20px.p-30px.flex.flex-col.gap-25px
                                .flex.flex-col.gap-10px.w-full
                                    h3(class='text-xl lg:text-2xl font-bold font-inter text-center lg:text-left') Enterprise
                                    p(class='w-full text-sm lg:text-[15px] text-center lg:text-left') For big corporations with extensive requirements that need a PRM.
                                .flex.flex-col.gap-10px.w-full
                                    h4(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') €1200+
                                    p(class='w-full text-sm lg:text-sm text-center lg:text-left italic').text-textGray Custom pricing, starting from.
                                a(href='../templates/contactUs.html' class='btn large font-bold text-sm').bg-white.border-blackBlue.text-blackBlue.w-full.justify-center
                                    span CONTACT US
                                    include ../assets/images/global/next.svg
                                .flex.flex-col.gap-15px.w-full
                                    h5.text-base.font-inter.font-semibold Features:
                                    .flex.flex-col.gap-5px.w-full
                                        .flex.items-center.gap-5px
                                            div(class='w-[20px] h-[20px]').flex.items-center.justify-center
                                                include ../assets/images/pricing/partners.svg
                                            div(class='text-[15px]') Custom partners management
                                        .flex.items-center.gap-5px
                                            div(class='w-[20px] h-[20px]').flex.items-center.justify-center
                                                include ../assets/images/pricing/storage.svg
                                            div(class='text-[15px]') Custom library storage
                                        +featureItem( 'Onboarding', true )
                                        +featureItem( 'Deal registration', true )
                                        +featureItem( 'Lead Distribution', true )
                                        +featureItem( 'Collaboration', true )
                                        +featureItem( 'Partner directory', true )
                                        +featureItem( 'Partner to partner', true )
                                        +featureItem( 'Partner recruitment', true )
                                        +featureItem( 'Customization', true )

                        p(class='text-sm lg:text-base text-center w-[970px] max-w-full').text-textGray.italic
                            | Prices do not include VAT. Charges may vary based on your country.
                            | <br class='hidden lg:block'>
                            | If you require to manage a big network of partners contact our sales team for a custom enterprise plan that will suit your needs.


            section(id='clients').bg-white
                .container
                    .flex.flex-col.gap-40px
                        .flex.flex-col.gap-10px.text-center.items-center
                            h3(class='text-2xl lg:text-3xl font-bold font-inter') Our Clients
                            p(class='w-full text-base lg:text-body') Elioplus PRM is trusted by more than <strong>120,000</strong> companies across <strong>157</strong> countries worldwide.
                        div(class='m-carousel flex sm:grid sm:grid-cols-3 lg:flex' data-items=1).gap-30px.justify-center
                            div.flex.items-center.justify-center
                                div.w-max
                                    img(src='../assets/images/prm/sap.png' alt='sap logo' loading='lazy')
                            div.flex.items-center.justify-center
                                div.w-max
                                    img(src='../assets/images/prm/iri.png' alt='iri logo' loading='lazy')
                            div.flex.items-center.justify-center
                                div.w-max
                                    img(src='../assets/images/prm/repsly.png' alt='repsly logo' loading='lazy')
                            div.flex.items-center.justify-center
                                div.w-max
                                    img(src='../assets/images/prm/totara.png' alt='totara logo' loading='lazy')
                            div.flex.items-center.justify-center
                                div.w-max
                                    img(src='../assets/images/prm/contentverse.png' alt='contentverse logo' loading='lazy')
                            div.flex.items-center.justify-center
                                div.w-max
                                    img(src='../assets/images/prm/monitis.png' alt='monitis logo' loading='lazy')

            section(id='testimonials').bg-gray
                .container
                    div(class='gap-50px lg:gap-80px').flex.flex-col
                        .flex.flex-col.gap-10px.text-center.items-center
                            h3(class='text-2xl lg:text-3xl font-bold font-inter') Reviews & Testimonials
                            p(class='w-[760px] max-w-full text-base lg:text-body') We focus on the success of our clients. Take a look at the experience they are facing by using Elioplus for their channel development efforts.
                        div(data-items='2').owl-carousel.owl-theme
                            - var name='Len B.'
                            - var pos='Director of Global Channel Development Computer Software'
                            - var title='"Great Combination of Software & Support"'
                            - var desc='Elioplus PRM is helping us expand our reseller network throughout the world by providing not only leads for us to contact but also guidance on targeting and messaging.'
                            - var href='https://www.capterra.com/p/171144/Elioplus-PRM/reviews/'
                            include components/global/review.pug
                            - var name='Len B.'
                            - var pos='Director of Global Channel Development Computer Software'
                            - var title='"Great Combination of Software & Support"'
                            - var desc='Elioplus PRM is helping us expand our reseller network throughout the world by providing not only leads for us to contact but also guidance on targeting and messaging.'
                            - var href='https://www.capterra.com/p/171144/Elioplus-PRM/reviews/'
                            include components/global/review.pug
                            - var name='Len B.'
                            - var pos='Director of Global Channel Development Computer Software'
                            - var title='"Great Combination of Software & Support"'
                            - var desc='Elioplus PRM is helping us expand our reseller network throughout the world by providing not only leads for us to contact but also guidance on targeting and messaging.'
                            - var href='https://www.capterra.com/p/171144/Elioplus-PRM/reviews/'
                            include components/global/review.pug
                            - var name='Len B.'
                            - var pos='Director of Global Channel Development Computer Software'
                            - var title='"Great Combination of Software & Support"'
                            - var desc='Elioplus PRM is helping us expand our reseller network throughout the world by providing not only leads for us to contact but also guidance on targeting and messaging.'
                            - var href='https://www.capterra.com/p/171144/Elioplus-PRM/reviews/'
                            include components/global/review.pug

            section
                .container
                    div(class='gap-80px lg:gap-160px').flex.flex-col
                        div(class='grid-cols-1 lg:grid-cols-2 text-img-row').grid.gap-30px
                            div(class='row-start-2 lg:row-start-1 gap-20px lg:gap-30px').flex.flex-col.justify-center
                                div(class='gap-5px lg:gap-10px').flex.flex-col
                                    h3(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') Do you have questions?
                                    h4(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left').text-blue We have the answers.
                                p(class='w-full text-base lg:text-body text-center lg:text-left') You can visit our help center with frequently asked questions about ElioPlus and our products & services.
                                div(class='flex justify-center lg:justify-start')
                                    a(href='../templates/faq.html' class='btn large font-bold text-sm xl:text-base text-blue')
                                        span VIEW FREQUENTLY ASKED QUESTIONS
                                        include ../assets/images/global/next.svg
                            div(class='flex items-center justify-center')
                                img( src='../assets/images/contact-us/faq.svg' alt='Visit the Elioplus FAQ to get answers for your questions' loading='lazy' class='max-w-[350px] lg:max-w-full')

        include components/footer/footer.pug
        div(id='overlay' class='fixed top-0 right-0 h-screen w-screen hidden z-20 bg-transparent')
        include components/scripts.pug
