mixin letterItem(letter, prefix)
    a(href='#'+prefix+letter class='go-to text-sm lg:text-base w-[35px] h-[35px] font-medium').font-inter.border.border-iconGray.bg-white.rounded-full.text-textGray.flex.items-center.justify-center.text-center=letter



doctype html
html(lang="en")
    head
        - var title = 'Search for Sass Partner Programs by Software & IT Vendors | Elioplus'
        - var desc  = 'Find the best SaaS partner programs. Compare between different programs and check partner reviews.'
        - var url   = 'https://elioplus.com/saas-partner-programs'
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden
        include components/header/header.pug
        main.transition-all.duration-200
            section.bg-gray
                .container
                    div(class='gap-40px lg:gap-60px').flex.flex-col.justify-center.items-center.w-full

                        div(class='gap-20px lg:gap-30px').flex.flex-col.justify-center.items-center.w-full
                            div(class='text-center gap-5px lg:gap-10px').flex.flex-col.items-center.w-full
                                div(class='text-xs lg:text-base flex gap-5px items-center justify-center').text-textGray.font-medium
                                    a(href='../templates/index.html' class='transition-all duration-200 hover:text-blue') HOME
                                    span(class='') /
                                    span SASS PARTNER PROGRAMS
                                h1(class='text-2.5xl lg:text-5xl font-bold font-inter') Search for Partners Programs by Vendors
                                p(class='text-base lg:text-body text-center max-w-full') Partner with other companies within and outside your industry to help market and sell your product or service.
                                    | Find out the best channel SaaS partner programs provided by IT and software Vendors.

                            div(class='flex justify-center')
                                form( id='searchPartnerProgramsForm' class='flex gap-10px w-full lg:w-[760px] max-w-full pt-5px pr-5px pb-5px pl-15px' method='POST' action='../templates/searchResultsPartnerPrograms.html').bg-white.shadow-card.rounded-40px.overflow-hidden
                                    input(class='grow pl-15px' name='partner_program_search' placeholder='Type to search for a product category or a vendor company type').rounded-30px.outline-none
                                    button( type='submit' class='btn large font-bold text-xs xl:text-sm bg-blue text-white')
                                        span SEARCH
                                        include ../assets/images/global/searchWhite.svg

                        div(class='flex-col lg:flex-row').flex.justify-center.gap-30px.w-full

                            div(class='w-[390px] p-40px').bg-white.rounded-20px.shadow-card.flex.flex-col.gap-25px
                                div(class='flex flex-col items-center just-center text-center gap-5px').w-full
                                    h2.text-lg.font-bold.font-inter White Label Partner Programs
                                    p.text-sm The simplest form that most SaaS vendors use but sometimes some further customization may exist.
                                a(href='../templates/searchVendorType.html' class='btn font-bold text-xs xl:text-sm').w-full.justify-center.text-blue
                                    span VIEW PARTNER PROGRAMS
                                    include ../assets/images/global/next.svg

                            div(class='w-[390px] p-40px').bg-white.rounded-20px.shadow-card.flex.flex-col.gap-25px
                                div(class='flex flex-col items-center just-center text-center gap-5px').w-full
                                    h2.text-lg.font-bold.font-inter MSPs Partner Programs
                                    p.text-sm Usually chosen by small and mid-sized companies to hire companies that offer remote services.
                                a(href='../templates/searchVendorType.html' class='btn font-bold text-xs xl:text-sm').w-full.justify-center.text-blue
                                    span VIEW PARTNER PROGRAMS
                                    include ../assets/images/global/next.svg

                            div(class='w-[390px] p-40px').bg-white.rounded-20px.shadow-card.flex.flex-col.gap-25px
                                div(class='flex flex-col items-center just-center text-center gap-5px').w-full
                                    h2.text-lg.font-bold.font-inter SI Partner Programs
                                    p.text-sm Offered mainly by vendors who promote their product with current applications that their businesses use.
                                a(href='../templates/searchVendorType.html' class='btn font-bold text-xs xl:text-sm').w-full.justify-center.text-blue
                                    span VIEW PARTNER PROGRAMS
                                    include ../assets/images/global/next.svg


        section
            .container
                div(class='w-full gap-50px lg:gap-80px').flex.flex-col

                    div(class='w-full gap-20px lg:gap-30px').flex.flex-col
                        .flex.flex-col.gap-15px
                            h2(class='text-2xl lg:text-3xl font-bold font-inter text-center lg:text-left') Partner Programs
                            p(class='text-base lg:text-body text-center lg:text-left max-w-full') Browse channel partner programs provided by Vendors at ElioPlus platform.

                    div(id='tabCategory' class='tab-content gap-30px lg:gap-50px').flex.flex-col.w-full

                        .flex.flex-col.gap-10px.w-full
                            h3(class='text-xl lg:text-2xl font-bold font-inter text-center lg:text-left') Popular categories:
                            div(class='owl-carousel owl-theme' data-items='5')
                                div(class='p-10px lg:p-15px h-full')
                                    - var link= '../templates/searchResultsPartnerPrograms.html'
                                    - var img= '../assets/images/search/categories/bigData.png'
                                    - var name='Big Data'
                                    include components/global/searchCategory.pug
                                div(class='p-10px lg:p-15px h-full')
                                    - var link= '../templates/searchResultsPartnerPrograms.html'
                                    - var img= '../assets/images/search/categories/analyticsSoftware.png'
                                    - var name='Analytics Software'
                                    include components/global/searchCategory.pug
                                div(class='p-10px lg:p-15px h-full')
                                    - var link= '../templates/searchResultsPartnerPrograms.html'
                                    - var img= '../assets/images/search/categories/ecommerce.png'
                                    - var name='Ecommerce'
                                    include components/global/searchCategory.pug
                                div(class='p-10px lg:p-15px h-full')
                                    - var link= '../templates/searchResultsPartnerPrograms.html'
                                    - var img= '../assets/images/search/categories/accounting.png'
                                    - var name='Accounting'
                                    include components/global/searchCategory.pug
                                div(class='p-10px lg:p-15px h-full')
                                    - var link= '../templates/searchResultsPartnerPrograms.html'
                                    - var img= '../assets/images/search/categories/databases.png'
                                    - var name='Databases'
                                    include components/global/searchCategory.pug
                                div(class='p-10px lg:p-15px h-full')
                                    - var link= '../templates/searchResultsPartnerPrograms.html'
                                    - var img= '../assets/images/search/categories/bigData.png'
                                    - var name='Big Data'
                                    include components/global/searchCategory.pug
                                div(class='p-10px lg:p-15px h-full')
                                    - var link= '../templates/searchResultsPartnerPrograms.html'
                                    - var img= '../assets/images/search/categories/analyticsSoftware.png'
                                    - var name='Analytics Software'
                                    include components/global/searchCategory.pug

                        .flex.flex-col.gap-30px.w-full
                            .flex.flex-col.gap-15px.w-full
                                h3(class='text-xl lg:text-2xl font-bold font-inter text-center lg:text-left') All product categories:
                                div(class='h-[2px]').divider

                            div(class='grid-cols-1 lg:grid-cols-letters gap-30px lg:gap-50px').grid.w-full

                                div().flex.flex-col.gap-15px.items-center.justify-start.border-x-2.border-gray.py-5px
                                    - var list = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]
                                    each item in list
                                        +letterItem(item, 'cat')

                                div(class='gap-30px lg:gap-40px').flex.flex-col.w-full
                                    - var link= '../templates/searchResultsPartnerPrograms.html'
                                    - var letter = 'A'
                                    - var terms = ["Accounting", "Ad Serving", "Affiliate Marketing", "Analytics Software", "API Tools", "Applicant Tracking", "Application Security", "Asset Lifecycle Management"]
                                    - var prefix = 'cat'
                                    include components/global/searchTaxonomyGroup.pug
                                    div(class='h-[2px]').divider
                                    - var link= '../templates/searchResultsPartnerPrograms.html'
                                    - var letter = 'B'
                                    - var terms = ["Backup & Restore", "Big Data", "Billing & Invoicing", "BIM", "Budgeting", "Bug Trackers", "Business Intelligence", "Business Process Management"]
                                    - var prefix = 'cat'
                                    include components/global/searchTaxonomyGroup.pug
                                    div(class='h-[2px]').divider
                                    - var link= '../templates/searchResultsPartnerPrograms.html'
                                    - var letter = 'C'
                                    - var terms = ["Calendar & Scheduling", "CAM", "Campaign Management", "Change Management", "Chat & Web Conference", "Chatbot", "Cloud Integration (iPaaS)", "Cloud Management", "Cloud Storage", "CMMS", "Collaboration", "Competitive Intelligence", "Compliance", "Conferencing", "Contact Center", "Content Marketing", "CRM"]
                                    - var prefix = 'cat'
                                    include components/global/searchTaxonomyGroup.pug
                                    div(class='h-[2px]').divider
                                    - var link= '../templates/searchResultsPartnerPrograms.html'
                                    - var letter = 'D'
                                    - var terms = ["Data Integration", "Data Management", "Data Masking", "Data Security", "Data Visualization", "Data Warehousing", "Databases", "Development Tools", "Digital Asset Management", "Document Management"]
                                    - var prefix = 'cat'
                                    include components/global/searchTaxonomyGroup.pug
                                    div(class='h-[2px]').divider
                                    - var link= '../templates/searchResultsPartnerPrograms.html'
                                    - var letter = 'E'
                                    - var terms = ["ECM", "eCommerce", "eLearning", "Email", "Email Marketing", "Email Security", "Endpoint Security", "Engagement Tools", "Enterprise Asset Management", "ERP", "E-Signature", "Event Management"]
                                    - var prefix = 'cat'
                                    include components/global/searchTaxonomyGroup.pug
                                    div(class='h-[2px]').divider
                                    - var link= '../templates/searchResultsPartnerPrograms.html'
                                    - var letter = 'F'
                                    - var terms = ["Backup & Restore", "Big Data", "Billing & Invoicing", "BIM", "Budgeting", "Bug Trackers", "Business Intelligence", "Business Process Management"]
                                    - var prefix = 'cat'
                                    include components/global/searchTaxonomyGroup.pug
                                    div(class='h-[2px]').divider









        include components/footer/footer.pug
        div(id='overlay' class='fixed top-0 right-0 h-screen w-screen hidden z-20 bg-transparent')
        include components/scripts.pug
