a(class='w-[380px] max-w-full' href=link).bg-white.shadow-card.overflow-hidden.rounded-10px
    div(class='h-[250px]').bg-gray.flex.items-center.justify-center
        img(src=img)
    div(class='gap-10px lg:gap-15px py-20px lg:py-30px px-20px lg:px-25px').bg-white.flex.flex-col
        h3(class='text-lg lg:text-2xl font-bold font-inter')=name
        p(class='text-sm lg:text-base')=desc
        div(class='btn font-bold text-sm').text-blue
            span VIEW PRODUCT
            include ../../../assets/images/global/next.svg
