a(href='../templates/resourcesArticle.html' class='hover:text-blue transition-colors duration-200').w-full.flex.gap-10px.flex-wrap.items-center
    img(src=img alt=name loading='lazy' width='54' height='54').rounded-full.border-2.border-blue.overflow-hidden
    .grow.w-min
        h4.font-semibold.text-base=name
