details(class='text-sm lg:text-base' open=openval)
    summary(class='px-10px py-15px lg:p-20px pr-30px lg:pr-40px ').flex.gap-7px.font-bold.relative.bg-white.shadow-card.relative.rounded-4px.cursor-pointer
        h4.font-bold.font-inter.text-lg Countries in&nbsp;
            span(class='text-blue')=region
            | :
    div(class='mt-20px').w-full.flex.gap-15px.flex-wrap
        div(class='gap-7px lg:gap-15px').countries.flex.flex-wrap
            - var img= '../assets/images/flags/US.svg'
            - var name='United States'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/Australia.svg'
            - var name='Australia'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/India.svg'
            - var name='India'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/Nigeria.svg'
            - var name='Nigeria'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/SouthAfrica.svg'
            - var name='South Africa'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/NewZealand.svg'
            - var name='New Zealand'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/Philippines.svg'
            - var name='Philippines'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/Singapore.svg'
            - var name='Singapore'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/France.svg'
            - var name='France'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/Germany.svg'
            - var name='Germany'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/Italy.svg'
            - var name='Italy'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/Netherlands.svg'
            - var name='Netherlands'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/Poland.svg'
            - var name='Poland'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/Spain.svg'
            - var name='Spain'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/UK.svg'
            - var name='United Kingdom'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/United_Arab_Emirates.svg'
            - var name='United Arab Emirates'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/Canada.svg'
            - var name='Canada'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/Egypt.svg'
            - var name='Egypt'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/Mexico.svg'
            - var name='Mexico'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/Argentina.svg'
            - var name='Argentina'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/Brazil.svg'
            - var name='Brazil'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/Chile.svg'
            - var name='Chile'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/China.svg'
            - var name='China'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/Japan.svg'
            - var name='Japan'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug
            - var img= '../assets/images/flags/Greece.svg'
            - var name='Greece'
            - var href='../templates/searchResultsChannelPartners.html'
            include ../../../src/components/global/country.pug

