a(href='https://www.facebook.com/elioplus').socialLink.rounded-full.flex.items-center.justify-center
    include ../../../assets/images/global/fb.svg
a(href='https://www.linkedin.com/company/elio/').socialLink.rounded-full.flex.items-center.justify-center
    include ../../../assets/images/global/linkedin.svg
a(href='https://twitter.com/elioplus').socialLink.rounded-full.flex.items-center.justify-center
    include ../../../assets/images/global/twitter.svg
